.gameover {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  &__replayBtn {
    margin: 20px;
    background: blue;
    border: 5px solid blue;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }

  &__result {
    font-size: 20px;
    font-weight: 500;

    &--amount {
      color: green;
    }
  }
}
