@import "./styles/colors";

* {
  margin: auto;
  padding: auto;
  color: white;
}

.app-container {
  height: 100vh;
  display: flex;
  background: $background-color;
  .quiz-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: $backgroundImage;
  }
}
